/* Loader */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #0dc5c1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Jumbotron */
div.jumbotron {
  background-color: transparent;
  h1 {
    font-weight: 700;
    font-size: 50px;
  }
  a {
    background-color: transparent;
    color: rgb(2, 117, 216);
  }
}

/* Cards */
div.chunk {
  img.card-img-top {
    width: 100%;
    border: .0625rem solid #e5e5e5;
    border-bottom: none;
  }

  div.chunk-content {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

/* Credits */
div.credits {
  ul {
    list-style: none;
    padding: 0px;

    li {
      margin-bottom: 10px;
      display: block;
    }
  }
}

/* Footer */
div.footer {
  background: rgb(38, 47, 54);
  padding-top: 40px;
  padding-bottom: 40px;

  ul {
    list-style: none;
    padding: 0px;

    h6 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 1.95px;
    }

    a {
      color: rgba(255, 255, 255, 0.701961);
      font-weight: 300;
      font-size: 15px;
      margin-bottom: 3px;
      line-height: 21px;
    }
  }

  img {
    width: 140px;
  }
}
